#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

body {
    color: #000;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

nav a {
  float: right;
  display: block;
  color: #000;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
}

nav a:hover:not(.active) {
  background-color: #fff;
  color:#F4B400;
}

.active {
  color: #DB4437;
}

section {
  margin-top: 10vh;
  position: fixed;
}

#page-right {
  margin-left: 4%;
}