#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}
body {
    color: #000;
    background-color: #fff;
}
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: bisque;
}

nav a {
  float: right;
  display: block;
  color: #fff;
  background-color: bisque;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #ff6699;
}
